* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
  color: $text-color;
}

footer {
  color: $text-color-dark;
}

.btn--tickets {
  background-color: #ebc05e;
  color: $text-color;
}

nav .link {
  color: $link;
}

nav .link a {
  color: $link !important;
}

nav .link a:hover {
  color: $link-hover !important;
  text-decoration: none;
}

.logo span {
  color: #000;
  font-family: $font-family-serif;
  font-size: 1.4rem;
  position: relative;
  left: -16px;
}

.container-fluid {
  background-color: $bg-color-container;
}

.festival--dates h2  {
  padding-bottom: 5px;
}

.festival--dates .row  {
  padding-top: 10px;
  padding-bottom: 10px;
}


.top-line {
  border-top: 1px solid rgba(92, 75, 36, .2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.top-line > ul {
  opacity: 50%;
}

.fa-facebook, .fa-twitter, .fa-google-plus-g {
  color: $text-color-dark;
}
