<section class="bands">
<div class="container-fluid">
    <h1 class="bands__title">Bands</h1>
    <div class="bands__wrapper">
        <div class="bands__wrapper--item">
            <figure>
                <img class="bands--photo" src="./assets/images/bateria-1.jpg" alt="Amazing Jazz Band ">
            </figure>
            <h3 class="bands--name">Amazing Jazz Band</h3>
            <h4 class="bands--category">Cool Jazz</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales vitae, suscipit purus morbi diam litora augue semper pellentesque, dui nisi ridiculus tellus id a porta proin.</p>
        </div>

        <div class="bands__wrapper--item">
            <figure>
                <img class="bands--photo" src="./assets/images/cantante-1.jpg" alt="Amazing Jazz Band ">
            </figure>
            <h3 class="bands--name">Pirates</h3>
            <h4 class="bands--category">Gypsy Jazz</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales vitae, suscipit purus morbi diam litora augue semper pellentesque, dui nisi ridiculus tellus id a porta proin.</p>
        </div>

        <div class="bands__wrapper--item">
            <figure>
                <img class="bands--photo" src="./assets/images/guitarrista-3.jpg" alt="Amazing Jazz Band ">
            </figure>
            <h3 class="bands--name">Red Hot Jazz Band</h3>
            <h4 class="bands--category">Big Band & Swing Music</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales vitae, suscipit purus morbi diam litora augue semper pellentesque, dui nisi ridiculus tellus id a porta proin.</p>
        </div>

        <div class="bands__wrapper--item">
            <figure>
                <img class="bands--photo" src="./assets/images/guitarrista-2.jpg" alt="Amazing Jazz Band ">
            </figure>
            <h3 class="bands--name">Michelle</h3>
            <h4 class="bands--category">Bebop</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales vitae, suscipit purus morbi diam litora augue semper pellentesque, dui nisi ridiculus tellus id a porta proin.</p>
        </div>

        <div class="bands__wrapper--item">
            <figure>
                <img class="bands--photo" src="./assets/images/trompetista-3.jpg" alt="Amazing Jazz Band ">
            </figure>
            <h3 class="bands--name">American Jazz Band</h3>
            <h4 class="bands--category">Cool Jazz</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales vitae, suscipit purus morbi diam litora augue semper pellentesque, dui nisi ridiculus tellus id a porta proin.</p>
        </div>

        <div class="bands__wrapper--item">
            <figure>
                <img class="bands--photo" src="./assets/images/guitarrista-6.jpg" alt="Amazing Jazz Band ">
            </figure>
            <h3 class="bands--name">Brava Band </h3>
            <h4 class="bands--category">Big Band & Swing Music</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sodales vitae, suscipit purus morbi diam litora augue semper pellentesque, dui nisi ridiculus tellus id a porta proin.</p>
        </div>
    </div>
</div>
</section>
