<section class="blog">
    <article class="blog__article">
        <div class="container-fluid blog__title">
            <h1 class="blog__title--h1">Blog Article</h1>
            <address>by <span rel="author">Ulyana Sudlenkova</span></address>
        </div>

        <div class="blog__container">
            <p class="blog__paragraph--first">Lorem ipsum dolor sit amet consectetur adipiscing elit, pharetra praesent class sed cras senectus mauris cursus, ultrices sociis montes rhoncus mattis nisl.</p>
            <p class="blog__paragraph">Ut turpis aliquet cubilia vitae in ad euismod quis, nullam enim venenatis pretium curae viverra nostra pulvinar mus, feugiat per laoreet taciti faucibus egestas maecenas. Ad varius viverra ut curae donec praesent torquent class vivamus a, nullam hac eget pellentesque venenatis neque bibendum ullamcorper fusce laoreet lacinia, etiam nunc dui suscipit mattis mauris cursus porttitor malesuada. Leo enim sagittis parturient sociosqu donec convallis tellus etiam fames litora dis, nam congue est vulputate dignissim sed metus platea nostra mi ante quam, mollis tempor arcu sodales ornare in cubilia natoque dictumst eros.</p>

            <ol class="blog__list">
                <li>
                    <h3>Item one</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum sem platea tincidunt, morbi lacus sapien praesent ridiculus dignissim per commodo dui malesuada placerat, duis sociis quis et senectus sollicitudin netus vehicula enim parturient. Semper volutpat ac gravida platea non mattis maecenas senectus tincidunt porttitor, tellus sapien dignissim vivamus ut luctus inceptos mi nullam et, augue sem arcu turpis potenti pulvinar natoque himenaeos erat. Neque sociis nullam maecenas tristique vivamus placerat massa mattis, erat dignissim lacinia luctus malesuada cum lacus pulvinar, habitasse mus eros porta tellus felis odio.</p>
                </li>
                <li>
                    <h3>Item two</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum sem platea tincidunt, morbi lacus sapien praesent ridiculus dignissim per commodo dui malesuada placerat, duis sociis quis et senectus sollicitudin netus vehicula enim parturient. Semper volutpat ac gravida platea non mattis maecenas senectus tincidunt porttitor, tellus sapien dignissim vivamus ut luctus inceptos mi nullam et, augue sem arcu turpis potenti pulvinar natoque himenaeos erat. Neque sociis nullam maecenas tristique vivamus placerat massa mattis, erat dignissim lacinia luctus malesuada cum lacus pulvinar, habitasse mus eros porta tellus felis odio.</p>
                </li>
                <li>
                    <h3>Item three</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum sem platea tincidunt, morbi lacus sapien praesent ridiculus dignissim per commodo dui malesuada placerat, duis sociis quis et senectus sollicitudin netus vehicula enim parturient. Semper volutpat ac gravida platea non mattis maecenas senectus tincidunt porttitor, tellus sapien dignissim vivamus ut luctus inceptos mi nullam et, augue sem arcu turpis potenti pulvinar natoque himenaeos erat. Neque sociis nullam maecenas tristique vivamus placerat massa mattis, erat dignissim lacinia luctus malesuada cum lacus pulvinar, habitasse mus eros porta tellus felis odio.</p>
                </li>
            </ol>

            <div class="blog__wrapper">
                <div class="blog__wrapper--quote">
                    <blockquote>Leo enim sagittis parturient sociosqu donec convallis tellus etiam fames litora dis nullam enim venenatis</blockquote>
                </div>
                <div class="blog__wrapper--text">
                    Ut turpis aliquet cubilia vitae in ad euismod quis, nullam enim venenatis pretium curae viverra nostra pulvinar mus, feugiat per laoreet taciti faucibus egestas maecenas. Ad varius viverra ut curae donec praesent torquent class vivamus a, nullam hac eget pellentesque venenatis neque bibendum ullamcorper fusce laoreet lacinia, etiam nunc dui suscipit mattis mauris cursus porttitor malesuada. Leo enim sagittis parturient sociosqu donec convallis tellus etiam fames litora dis, nam congue est vulputate dignissim sed metus platea nostra mi ante quam, mollis tempor arcu sodales ornare in cubilia natoque dictumst eros.
                </div>
            </div>
        </div>

        <div>
            <figure>
                <img class="bands--photo" src="./assets/images/wall.jpg" alt="Amazing Jazz Band ">
            </figure>
        </div>

        <div class="blog__container">
            <p class="blog__paragraph">Ut turpis aliquet cubilia vitae in ad euismod quis, nullam enim venenatis pretium curae viverra nostra pulvinar mus, feugiat per laoreet taciti faucibus egestas maecenas. Ad varius viverra ut curae donec praesent torquent class vivamus a, nullam hac eget pellentesque venenatis neque bibendum ullamcorper fusce laoreet lacinia, etiam nunc dui suscipit mattis mauris cursus porttitor malesuada. Leo enim sagittis parturient sociosqu donec convallis tellus etiam fames litora dis, nam congue est vulputate dignissim sed metus platea nostra mi ante quam, mollis tempor arcu sodales ornare in cubilia natoque dictumst eros.</p>
        </div>

    </article>
</section>
