<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        <div class="container festival--dates">
            <h2>Festival Jazz Music Costa Brava - 2022</h2>
            <div class="row">
                <div class="col-sm">
                    10th of August
                </div>
                <div class="col-sm">
                    Amazing Jazz Band
                </div>
                <div class="col-sm">
                    Calella de Palafrugell
                </div>
                <div class="col-1">
                    <a href="./tickets.html" class="btn btn--tickets" role="button" aria-pressed="true">Tickets</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    10th of August
                </div>
                <div class="col-sm">
                    Brava Band
                </div>
                <div class="col-sm">
                    Calella de Palafrugell
                </div>
                <div class="col-1">
                    <a href="./tickets.html" class="btn btn--tickets" role="button" aria-pressed="true">Tickets</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    11th of August
                </div>
                <div class="col-sm">
                    American Jazz Band
                </div>
                <div class="col-sm">
                    Cadaques
                </div>
                <div class="col-1">
                    <a href="./tickets.html" class="btn btn--tickets" role="button" aria-pressed="true">Tickets</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    11th of August
                </div>
                <div class="col-sm">
                    Michelle
                </div>
                <div class="col-sm">
                    Cadaques
                </div>
                <div class="col-1">
                    <a href="./tickets.html" class="btn btn--tickets" role="button" aria-pressed="true">Tickets</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    12th of August
                </div>
                <div class="col-sm">
                    Pirates
                </div>
                <div class="col-sm">
                    Ampuriabrava
                </div>
                <div class="col-1">
                    <a href="./tickets.html" class="btn btn--tickets" role="button" aria-pressed="true">Tickets</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    12th of August
                </div>
                <div class="col-sm">
                    Red Hot Jazz Band
                </div>
                <div class="col-sm">
                    Ampuriabrava
                </div>
                <div class="col-1">
                    <a href="./tickets.html" class="btn btn--tickets" role="button" aria-pressed="true">Tickets</a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light top-line">
                <a class="navbar-brand logo" href="./index.html">
                    <img src="./assets/images/logo_48.png" alt="Festival Jazz Music - Costa Brava" width="48" height="48" class="d-inline-block align-text-top">
                    <span>Festival Jazz</span>
                </a>
                <ul class="nav">
                    <li class="nav-item link">
                        <a class="nav-link" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link" aria-current="page" href="./bands.html">Bands</a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link" href="./tickets.html">Tickets</a>
                    </li>
                </ul>

                <ul class="nav">
                    <li class="nav-item link">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
