<main class="home">
    <section>
        <div class="wrapper">
            <div class="home--title">
                <figure>
                    <img class="home--img" src="./assets/images/trompetista-1.jpg" alt="Jazz Music">
                </figure>
                <div>
                    <h1 class="home--title__h1">Festival Jazz Music</h1>
                    <p>Costa Brava</p>
                    <p>10th - 12th August</p>
                </div>
            </div>
            <div>
                <figure>
                    <img class="home--img" src="./assets/images/guitarrista-1.jpg" alt="Jazz Music">
                </figure>
            </div>
            <div>
                <figure>
                    <img class="home--img cut" src="./assets/images/trompetista-2.jpg" alt="Jazz Music">
                </figure>
            </div>
            <div>
                <figure>
                    <img class="home--img" src="./assets/images/trompetista-3.jpg" alt="Jazz Music">
                </figure>
            </div>
            <div>
                <figure>
                    <img class="home--img" src="./assets/images/jazz-club.jpg" alt="Jazz Music">
                </figure>
            </div>
            <div>
                <figure>
                    <img class="home--img" src="./assets/images/cantante-1.jpg" alt="Jazz Music">
                </figure>
            </div>
        </div>
    </section>
</main>
